h2 {
    color: blue;
}
h1 {
    color: green;
    text-align: center;
}
#p1 {
    font-size: 25px;
    font-weight: bold;
}
#p2 {
    font-size: 18px;
}
#div1 {
    background-color: violet;
    width: 150px;
    height: 75px;
}
body {
    background-image: url("Kruzhka.jpg");
}
div {
    background-color: black;
    padding: 40px;
    margin: 35px;
    overflow: hidden;
}
#div2 {
    width: 100px;
    height: 120px;
    border: 5px solid yellow;
}
#div3 {
    width: 50px;
    height: 70px;
    border: 4px solid red;
}
#div4 {
    width: 140px;
    height: 120px;
    border: 3px solid green;
}
