body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hdr {
    background-color: #fff;
}
.hdr-1 {
    padding: 12px 40px;
}
.header-block {
    display: flex;
    align-items: center;
    gap: 120px;
    width: 649px;
    height: 41px;
}
.logo {
    display: flex;
    align-items: center;
}
.search-box {
    border-radius: 8px;
    border: 1px solid #DFDFDF;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 10px;
}
.input1 {
    border: none;
    width: 302px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: #707070;
}
.header-block2 {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 12px 0px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav a {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    line-height: 100%;
}
.nav a.active {
    color:#5C53E9;
}
.btn {
    border-radius: 8px;
    padding: 12px;
    gap: 10px;
    background-color: #000;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.hdr-2 {
    border-bottom: 1.5px solid #EEF0F3;
    padding: 20px 48px;
}
.header-block3 {
    display: flex;
    align-items: center;
    gap: 32px;
}
.logo2 {
    display: flex;
    align-items: center;
}
.nav1 {
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav1 a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #242424;
}
.nav1 a.active1 {
    color: #5856D6;
}
.buttons1 {
    display: flex;
    align-items: center;
    gap: 8px;
}
.icons {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #F0F0F0;
    border-radius: 3px;
}
.btn-primary {
    padding: 10px;
    gap: 6px;
    background-color: #5C53E9;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.hdr-3 {
    padding: 25px 36px;
    border-radius: 10px;
}
.logo3 {
    gap: 10px;
}
.navs {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
}
.navs-one a {
    color: #000;
    text-decoration: none;
}
.iconka {
    display: flex;
    align-items: center;
    gap: 10px;
}
.headers {
    background-color: #111928;
    padding: 25px 36px;
    border-radius: 10px;
}
.mylogo {
    display: flex;
    align-items: center;
}
.navs-two a {
    color: #FFFFFF;
    text-decoration: none;
}
.searchlast {
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #DFDFDF;
}
.input2 {
    border: none;
    color: #D6D8DE;
    font-weight: 400;
    font-size: 16px;
    background-color: #111928;
    width: 500px;
}
.navs-three a {
    text-decoration: none;
    color: #FFFFFF;
}